mixin link(href, name)
  //- attributes == {class: "btn"}
  a(class!=attributes.class href=href)= name

mixin color(bgc, name, color)
  .rectangle
    div.rectangle-color(class=bgc)
    .rectangle-text
      p.rectangle-text-bold=name
      p=color

mixin field-hover(header, type, name)
  h3.form-title
    label(for=header)=header
  input(class="default" autocomplete="off" type=type placeholder=name)