mixin link(href, name)
  //- attributes == {class: "btn"}
  a(class!=attributes.class href=href)= name

mixin color(bgc, name, color)
  .rectangle
    div.rectangle-color(class=bgc)
    .rectangle-text
      p.rectangle-text-bold=name
      p=color

//- mixin text(main, description)
//-   .text
//-     p=main
//-     p=description