mixin logo()
  img.header(src='assets/img/Group.png')

mixin link(href, name)
  //- attributes == {class: "btn"}
  a(class!=attributes.class href=href)= name

mixin color(bgc, name, color)
  .rectangle
    div.rectangle-color(class=bgc)
    .rectangle-text
      p.rectangle-text-bold=name
      p=color

mixin field(header, state, type, name)
  label(for=header)=header
  p=state
  input(type=type value=name placeholder=name)

mixin field-hover(header, state, type, name)
  label(for=header)=header
  p=state
  input(class="default" type=type value=name placeholder=name)